@using KhoaLuan.Data.Enums;
<div class="card direct-chat direct-chat-primary">
    <div class="card-header">
        <h3 class="card-title">Nhóm Sản Phẩm</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="modal-body">
            <form id="FormNSP" method="post">
                <div class="form-row">
                    <input type="hidden" id="TypeNSP" name="TypeCode" value="@CodeType.ProductTypeGroup" />
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="NameNSP"
                               name="Name" placeholder="Tên Mã" onkeyup="iCodeNSP()" required>
                    </div>
                    <span class="text-danger" id="showNameNSP">
                        Tên mã đã tồn tại
                    </span>
                    <div class="form-group col-md-6">
                        <button type="submit" id="btnthemNSP" class="btn btn-primary">Thêm Vào</button>
                    </div>
                    <small>Tên mã + số tự tăng: CODE1</small>
                </div>
            </form>
        </div>
        <div class="modal-body">
            <table id="NSPtable" class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Tên Mã</th>
                        <th class="text-center">Ưu Tiên</th>
                        <th class="text-center">Thao Tác</th>
                    </tr>
                </thead>
                <tbody id="addNSP">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal xóa-->
<div class="modal fade" id="exampleDeleteNSP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mã Số</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!---->
            <div class="modal-body">
                <input type="hidden" id="idDeleteNSP" />
                <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa dữ liệu đã chọn?</h5>
            </div>
            <!---->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" onclick="ajaxDeleteNSP()" class="btn btn-primary">Đồng Ý</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Sửa-->
<div class="modal fade" id="exampleEditNSP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mã Số</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!---->
            <div class="modal-body">
                <input type="hidden" id="idEditNSP" />
                <input type="hidden" id="TypeCodeNSP" value="@CodeType.ProductTypeGroup" />
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="NameNSPEdit"
                               name="Name" placeholder="Tên Mã" onkeyup="iCodeNSPEdit()" required>
                        <span class="text-danger" id="erroGroupNSP">
                            Tên đã tồn tại
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control" name="Top" id="TopEditNSP">
                            <option value="true">Bật</option>
                            <option value="false">Tắt</option>
                        </select>
                    </div>
                </div>
            </div>
            <!---->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" onclick="ajaxSaveNSP()" id="btnEditNSP" class="btn btn-primary">Đồng Ý</button>
            </div>
        </div>
    </div>
</div>
<!--Nhóm Sản Phẩm-->
<script>
    //kiểm tra tên
    document.getElementById('showNameNSP').style.display = "none";
    function iCodeNSP()
    {
        var nameNSP = $('#NameNSP').val().trim();
         $.ajax({
                type: "GET",
                 url: "@Url.Action("iName")",
             data: {name: nameNSP} ,
                dataType: "json",
            success: function (msg) {
                if (msg) {
                    document.getElementById('showNameNSP').style.display = "none";
                    document.getElementById('btnthemNSP').style.display = "block";
                } else {
                    document.getElementById('showNameNSP').style.display = "block";
                    document.getElementById('btnthemNSP').style.display = "none";

                }
                },
             error: function (req, status, error) {
                 document.getElementById('showNameNSP').style.display = "block";
                    document.getElementById('btnthemNSP').style.display = "none";

                }
            });
    }

    document.getElementById('erroGroupNSP').style.display = "none";
    document.getElementById('btnEditNSP').style.display = "block";

    function iCodeNSPEdit()
    {
        var nameNSP1 = $('#NameNSPEdit').val().trim();
        var id = $('#idEditNSP').val().trim();
        $.ajax({
                type: "GET",
                 url: "@Url.Action("iName")",
             data: {name: nameNSP1, id: id} ,
                dataType: "json",
            success: function (msg) {
                if (msg) {
                    document.getElementById('erroGroupNSP').style.display = "none";
                    document.getElementById('btnEditNSP').style.display = "block";
                } else {
                    document.getElementById('erroGroupNSP').style.display = "block";
                    document.getElementById('btnEditNSP').style.display = "none";

                }
                },
             error: function (req, status, error) {
                 document.getElementById('erroGroupNSP').style.display = "block";
                 document.getElementById('btnEditNSP').style.display = "none";

                }
            });
    }
    //
   GetNSP();
    // Lấy giá trị của mã NSP
    function GetNSP() {
        var typeMVL = $("#TypeNSP").val();

         $.ajax({
                type: "GET",
                 url: "@Url.Action("GetAll")",
             data: {type: typeMVL} ,
                dataType: "json",
            success: function (msg) {
                msg.forEach(function (item) {

                    var str = '<tr id="NSP-' + item.id +'">' +
                        '<td>' + item.name + '</td>' +
                        '<td>' +
                        '<select class="form-control select2bs4" >';

                    if (item.top) {
                        str = str + '      <option  value="true">Bật</option>' ;
                    } else {
                        str = str + '      <option  value="false">Tắt</option>';
                    }

                    str = str + ' </select>' +
                        '</td>' +
                        '<td class="text-center py-0 align-middle">' +
                        '<div class="btn-group btn-group-sm">' +
                        '<a class="btn btn-primary" data-toggle="modal" data-target="#exampleEditNSP"' +
                        '   onclick="GetEditNSP(' + item.id + ', \'' + item.name + '\',' + item.top +')" title="Sửa">' +
                        '   <i class="fas fa-pencil-alt"></i>' +
                        '</a>' +
                        '<a class="btn btn-danger" data-toggle="modal" data-target="#exampleDeleteNSP"' +
                        '   onclick="GetDeleteNSP(' + item.id + ')" title="Xóa">' +
                        '    <i class="fas fa-trash"></i>' +
                        ' </a>' +
                        '</div>' +
                        ' </td>' +
                        ' </tr >';
                    $('#addNSP').append(str);
                });

                },
                error: function (req, status, error) {
                    toastr.error('Thêm thất bại')

                }
            });
    }

    // Thêm : btnthemNSP,NameNSP
    var formNSP = $('#FormNSP');
    formNSP.submit(function (e) {
        var nameNSP = $('#NameNSP').val().trim();
        if (nameNSP.length > 6) {
            toastr.error('Độ dài tên mã không vượt quá 6 ký tự')
        } else {
             $.ajax({
                type: "POST",
                 url: "@Url.Action("Create")",
                 data: formNSP.serialize(),
                dataType: "json",
            success: function (msg) {
                toastr.success('Thêm thành công')

                $('#addNSP').remove();
                $('#NSPtable').append('<tbody id="addNSP"></tbody>');
                GetNSP();

                },
                error: function (req, status, error) {
                    toastr.error('Thêm thất bại')

                }
            });
        }
        e.preventDefault();
    });

    // xóa
    function GetDeleteNSP(id) {
        $("#idDeleteNSP").val(id);
    }

    function ajaxDeleteNSP() {
        var id = $("#idDeleteNSP").val();
        $.ajax({
            type: "DELETE",
            url: "@Url.Action("Delete")",
            data: {id:id},
                dataType: "json",
            success: function (msg) {
                 if (msg.isSuccessed) {
                     $('#exampleDeleteNSP').modal("hide")
                     toastr.success('Xóa thành công')
                     var de = "#NSP-" + id;
                     $(de).remove();
                 } else {
                     toastr.error('Xóa thất bại')
                 }

                },
                error: function (req, status, error) {
                    toastr.error('Xóa thất bại')

                }
            });
    }

    // CẬP nhật
    function GetEditNSP(id, name, top) {
        document.getElementById('erroGroupNSP').style.display = "none";
        document.getElementById('btnEditNSP').style.display = "block";
        $("#idEditNSP").val(id);
        $("#NameNSPEdit").val(name);
        if (top) {
            $("#TopEditNSP").val("true");
        } else {
            $("#TopEditNSP").val("false");
        }
    }

    function ajaxSaveNSP() {
        var id = $("#idEditNSP").val();
        var name = $("#NameNSPEdit").val();
        var top = $("#TopEditNSP").val();
        var type = $("#TypeCodeNSP").val();
        if (name.length > 6) {
            toastr.error('Độ dài tên mã không vượt quá 6 ký tự')
        } else {
             var data =
            {
                Id: id,
                Name: name,
                Top: top,
                TypeCode: type
            };
            $.ajax({
                    type: "PUT",
                     url: "@Url.Action("Update")",
                     data: data,
                    dataType: "json",
                success: function (msg) {
                    $('#exampleEditNSP').modal("hide")
                    toastr.success('Cập nhật thành công');
                    $('#addNSP').remove();
                    $('#NSPtable').append('<tbody id="addNSP"></tbody>');
                    GetNSP();

                },
                error: function (req, status, error) {
                    toastr.error('Cập nhật thất bại');

                }
            });
        }

    }
</script>