@using KhoaLuan.Data.Enums;
<div class="card direct-chat direct-chat-primary table-hover12">
    <div class="card-header">
        <h3 class="card-title">Sản Phẩm</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="modal-body">
            <form id="FormSP" method="post">
                <div class="form-row">
                    <input type="hidden" id="TypeSP" name="TypeCode" value="@CodeType.Product" />
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="NameSP"
                               name="Name" placeholder="Tên Mã" onkeyup="iCodeSP()" required>
                    </div>
                    <span class="text-danger" id="showNameSP">
                        Tên mã đã tồn tại
                    </span>
                    <div class="form-group col-md-6">
                        <button type="submit" id="btnthemSP" class="btn btn-primary">Thêm Vào</button>
                    </div>
                    <small>Tên mã + số tự tăng: CODE1</small>
                </div>
            </form>
        </div>
        <div class="modal-body">
            <table id="SPtable" class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Tên Mã</th>
                        <th class="text-center">Ưu Tiên</th>
                        <th class="text-center">Thao Tác</th>
                    </tr>
                </thead>
                <tbody id="addSP">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal xóa-->
<div class="modal fade" id="exampleDeleteSP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mã Số</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!---->
            <div class="modal-body">
                <input type="hidden" id="idDeleteSP" />
                <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa dữ liệu đã chọn?</h5>
            </div>
            <!---->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" onclick="ajaxDeleteSP()" class="btn btn-primary">Đồng Ý</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Sửa-->
<div class="modal fade" id="exampleEditSP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mã Số</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!---->
            <div class="modal-body">
                <input type="hidden" id="idEditSP" />
                <input type="hidden" id="TypeCodeSP" value="@CodeType.Product" />
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="NameSPEdit"
                               name="Name" placeholder="Tên Mã" onkeyup="iCodeSPEdit()" required>
                        <span class="text-danger" id="erroGroupSP">
                            Tên đã tồn tại
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control" name="Top" id="TopEditSP">
                            <option value="true">Bật</option>
                            <option value="false">Tắt</option>
                        </select>
                    </div>
                </div>
            </div>
            <!---->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" onclick="ajaxSaveSP()" id="btnEditSP" class="btn btn-primary">Đồng Ý</button>
            </div>
        </div>
    </div>
</div>
<!--Sản Phẩm-->
<script>
    //kiểm tra tên
    document.getElementById('showNameSP').style.display = "none";
    function iCodeSP()
    {
        var nameSP = $('#NameSP').val().trim();
         $.ajax({
                type: "GET",
                 url: "@Url.Action("iName")",
             data: {name: nameSP} ,
                dataType: "json",
            success: function (msg) {
                if (msg) {
                    document.getElementById('showNameSP').style.display = "none";
                    document.getElementById('btnthemSP').style.display = "block";
                } else {
                    document.getElementById('showNameSP').style.display = "block";
                    document.getElementById('btnthemSP').style.display = "none";

                }
                },
             error: function (req, status, error) {
                 document.getElementById('showNameSP').style.display = "block";
                    document.getElementById('btnthemSP').style.display = "none";

                }
            });
    }

    document.getElementById('erroGroupSP').style.display = "none";
    document.getElementById('btnEditSP').style.display = "block";

    function iCodeSPEdit()
    {
        var nameSP1 = $('#NameSPEdit').val().trim();
        var id = $('#idEditSP').val().trim();
        $.ajax({
                type: "GET",
                 url: "@Url.Action("iName")",
             data: {name: nameSP1, id: id} ,
                dataType: "json",
            success: function (msg) {
                if (msg) {
                    document.getElementById('erroGroupSP').style.display = "none";
                    document.getElementById('btnEditSP').style.display = "block";
                } else {
                    document.getElementById('erroGroupSP').style.display = "block";
                    document.getElementById('btnEditSP').style.display = "none";

                }
                },
             error: function (req, status, error) {
                 document.getElementById('erroGroupSP').style.display = "block";
                 document.getElementById('btnEditSP').style.display = "none";

                }
            });
    }
    //
   GetSP();
    // Lấy giá trị của mã SP
    function GetSP() {
        var typeMVL = $("#TypeSP").val();

         $.ajax({
                type: "GET",
                 url: "@Url.Action("GetAll")",
             data: {type: typeMVL} ,
                dataType: "json",
            success: function (msg) {
                msg.forEach(function (item) {

                    var str = '<tr id="SP-' + item.id +'">' +
                        '<td>' + item.name + '</td>' +
                        '<td>' +
                        '<select class="form-control select2bs4" >';

                    if (item.top) {
                        str = str + '      <option  value="true">Bật</option>' ;
                    } else {
                        str = str + '      <option  value="false">Tắt</option>';
                    }

                    str = str + ' </select>' +
                        '</td>' +
                        '<td class="text-center py-0 align-middle">' +
                        '<div class="btn-group btn-group-sm">' +
                        '<a class="btn btn-primary" data-toggle="modal" data-target="#exampleEditSP"' +
                        '   onclick="GetEditSP(' + item.id + ', \'' + item.name + '\',' + item.top +')" title="Sửa">' +
                        '   <i class="fas fa-pencil-alt"></i>' +
                        '</a>' +
                        '<a class="btn btn-danger" data-toggle="modal" data-target="#exampleDeleteSP"' +
                        '   onclick="GetDeleteSP(' + item.id + ')" title="Xóa">' +
                        '    <i class="fas fa-trash"></i>' +
                        ' </a>' +
                        '</div>' +
                        ' </td>' +
                        ' </tr >';
                    $('#addSP').append(str);
                });

                },
                error: function (req, status, error) {
                    toastr.error('Thêm thất bại')

                }
            });
    }

    // Thêm : btnthemSP,NameSP
    var formSP = $('#FormSP');
    formSP.submit(function (e) {
        var nameSP = $('#NameSP').val().trim();
        if (nameSP.length > 8) {
            toastr.error('Độ dài tên mã không vượt quá 8 ký tự')
        } else {
            if (nameSP.length < 4) {
                toastr.error('Độ dài tên mã ít nhất 4 ký tự')
            } else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create")",
                    data: formSP.serialize(),
                    dataType: "json",
                    success: function (msg) {
                        toastr.success('Thêm thành công')

                        $('#addSP').remove();
                        $('#SPtable').append('<tbody id="addSP"></tbody>');
                        GetSP();

                    },
                    error: function (req, status, error) {
                        toastr.error('Thêm thất bại')

                    }
                });
            }
        }
        e.preventDefault();
    });

    // xóa
    function GetDeleteSP(id) {
        $("#idDeleteSP").val(id);
    }

    function ajaxDeleteSP() {
        var id = $("#idDeleteSP").val();
        $.ajax({
            type: "DELETE",
            url: "@Url.Action("Delete")",
            data: {id:id},
                dataType: "json",
            success: function (msg) {
                 if (msg.isSuccessed) {
                     $('#exampleDeleteSP').modal("hide")
                     toastr.success('Xóa thành công')
                     var de = "#SP-" + id;
                     $(de).remove();
                 } else {
                     toastr.error('Xóa thất bại')
                 }

                },
                error: function (req, status, error) {
                    toastr.error('Xóa thất bại')

                }
            });
    }

    // CẬP nhật
    function GetEditSP(id, name, top) {
        document.getElementById('erroGroupSP').style.display = "none";
        document.getElementById('btnEditSP').style.display = "block";
        $("#idEditSP").val(id);
        $("#NameSPEdit").val(name);
        if (top) {
            $("#TopEditSP").val("true");
        } else {
            $("#TopEditSP").val("false");
        }
    }

    function ajaxSaveSP() {
        var id = $("#idEditSP").val();
        var name = $("#NameSPEdit").val();
        var top = $("#TopEditSP").val();
        var type = $("#TypeCodeSP").val();
        if (name.length > 8) {
            toastr.error('Độ dài tên mã không vượt quá 8 ký tự')
        } else {
            if (name.length < 4) {
                toastr.error('Độ dài tên mã ít nhất 4 ký tự')
            } else {
                var data =
                {
                    Id: id,
                    Name: name,
                    Top: top,
                    TypeCode: type
                };
                $.ajax({
                    type: "PUT",
                    url: "@Url.Action("Update")",
                    data: data,
                    dataType: "json",
                    success: function (msg) {
                        $('#exampleEditSP').modal("hide")
                        toastr.success('Cập nhật thành công');
                        $('#addSP').remove();
                        $('#SPtable').append('<tbody id="addSP"></tbody>');
                        GetSP();

                    },
                    error: function (req, status, error) {
                        toastr.error('Cập nhật thất bại');

                    }
                });
            }
        }
    }
</script>